<h1>About Us</h1>
<p>
    <a href="getmanaging.com">Get Managing</a> is an exciting new web-based software for the hospitality industry. We are a decision support system that allows you to analyse every aspect of your business performance. We are the link between your top-level P&L reports down to each and every button touch through your till. We make data analysis easy – allowing you to spend more time on the front line and not stuck in the office.

	We’re not business analysts or corporate junkies either: we have a combined 25 years running bars and restaurants. We’ve developed this tool to be intuitive and really helpful – sign up to receive more information.

</p>